body {
	color:#333;
	background-color:white;
	margin:20px;
	padding:0px;
	font:12px verdana, arial, helvetica, sans-serif;
    }
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	font-weight:900;
	color:#ccc;
	}
h2 {
	font:bold 14px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 0px;
	padding:0px;
	}
h3 {
	font:bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin:10px 0px 5px 0px;
	padding:0px;
	}
p {
	font:12px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}

td {
	font:12px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}

th {
	font:bold 12px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}

td li {
    padding: 0px 0px 0px 3px;
}

li {
    padding: 0px 0px 0px 5px;
}

ul {
    padding: 0px 0px 0px 20px;
    margin:5px 0px 5px 0px;
    list-style-image: url(../images/bullet.gif);
}

td ul {
    margin:0px;
    padding:0px 0px 0px 18px;
    list-style-image: url(../images/bullet2.gif);
}

td ul li {
    padding:0px 0px 2px 0px;
    line-height:15px;
}

.Content>p {margin:5px 0px 0px 0px;}

a {
	color:#09c;
/*	font-size:12px; */
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:600;
	text-decoration:none;
	}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}


.heading {
  position: relative;
	width:auto;
	min-width:120px;
        margin:0px 170px 20px 170px; /**/
	background-color:white;
	padding:0px;
	z-index:3;
}

/* All the content boxes belong to the content class. */
.content {
	position:relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
	width:auto;
	min-width:120px;
        margin:0px 170px 20px 170px; /**/
	border:1px solid black;
	background-color:white;
	padding:10px;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	}

#navAlpha /**/ { position:fixed /**/;
                 	height: 380px;
                 	top:20px;
                 	left:20px;
                 	border:1px solid black;
                 	background-color:#eee;
                 	padding:10px 0px ;
                 	z-index:2;
                 	width:150px;
                     /**/ } /**/

#navAlpha ul {
  padding: 0px 15px 0px 15px;
  list-style: none;
  font:11px verdana, arial, helvetica, sans-serif;
}

#navAlpha li.dummy {
  display: none;
}

#navAlpha ul ul {
  list-style: disc;
}

.bullet {
    font-size: 8pt;
    margin: 0px 3px 0px 3px;
    position: relative;
    top: -2px;
    text-align: center;
}

pre {
    margin: 10px 0px 10px 20px;
    padding: 0px;
}
pre.codePre {
    margin: 0px;
    padding: 10px;
}
div.codeDiv {
    padding: 10px 10px 10px 20px;
}
.codeBlock {
    background: #ddddff;
}
.ghciBlock {
    background: #ffffdd;
}


.codeSnip {
    font-family: monospace;
    display: inline-block;
  /*  font-weight: bold; */
}

#navBeta /**/ { position:fixed /**/;
                	width:130px;
                	top:20px;
                	right:20px;
                	border:1px solid black;
                	background-color:#eee;
                	padding:10px;
                	z-index:1;
                    /**/ } /**/

#navBeta p {
    font:11px verdana, arial, helvetica, sans-serif;
    margin:5px 0px 5px 0px;
    padding:0px;
}
#navBeta a {
    font-size:11px;
}

#chalmers /**/ { position:fixed /**/;
                         right: 35px;
                         bottom: 20px;
                         z-index: 3;
                     /**/ } /**/

#gu /**/ { position:fixed /**/;
                   left: 46px;
                   bottom: 40px;
                   z-index: 3;
               /**/ } /**/


ul.persondesc {
  font:11px verdana, arial, helvetica, sans-serif;
  list-style: none;
}

.itemtag {
  font-weight: bold;
}